body{
	background-color: #e7e7e7;
}

.navigation-bar {
    width: 100%; 
    height: 80px;
    font-family: 'Roboto', sans-serif;
}
.logo {
    display: inline-block;
    vertical-align: top;
    padding-left: 120px;
    width: 180px;
    height: 50px;
    margin-right: 40px;
    margin-top: 13px; 
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    padding-left: 20px;        
    line-height: 74px;
    color:   #2d324c;  
    text-decoration: none;
}

.navigation-bar > i {
	float: right;
	margin-top: 27px;
	padding: 5px;
	font-size: 19px;

}

.pill1{
	width:190px;
	height: 94px;
	z-index: 3;
	margin-left:26.8%;
	border:3.5px solid #ffffff;
	border-radius: 3rem;
	transform: rotate(150deg) translate(-150px, 40px);
	position: absolute;
	z-index: -1;
}

.pill2{
	border:3.5px solid #ffffff;
	height: 125px;
	width: 125px;
	border-radius: 5rem;
	float: right;
	transform: translate(80px);
}
.text{
	margin-left: 120px;
	width: 80vh;
}

p{
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	font-size: 34.5px;
	margin-bottom: 27px;
}

button{
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	margin-right: 30px;
	border:0.5px solid #091931;
	color: #091931;
}

#button{
	background-color: #091931;
	color: white;
}

.illustration1{
	float: right;
	margin-right: 230px;
	margin-top: -275px;
}

#objectimg{
	height: 45vh;
}

.triangle{
	padding-top: 30px;
	color: #cfcfcf;
}

#triangleimg{
	color: #cfcfcf;
	height: 150px;
}